{% extends 'core/base.html' %}
{% load custom_tags %}
 {% block content %}


<section style="padding:8px 10px; background: #F8F8F8;; height:8vh; border-bottom: 1px solid brown; text-align: center; align-items: center;">
    <div class="Button-nav ">
        <!-- drop down menu -->
        <div class="dropdown ">
            <button  class="dropbtn  btn btn-outline-primary">Public</button>

        </div>
        {% if request.user|has_group:"admin" %}
        <button type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#myModal1">Upload File
  
        <a href="#">
            <i class="fa fa-upload"></i>
        </a>
      
      </button>
      {% endif %}

        <!-- end the dropdown -->

        <!-- start logout -->


        <div class="dropdown" id="profile">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ request.user.get_full_name }}<i class="fa fa-user fa-fw fa-2x"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                
                <li class="divider"></li>
                <li><a href="{% url 'users:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </div>

        <!-- end log out -->
    </div>


    <!-- searchbar -->

    <div class="search">
        <!-- <input type="text" class="searchTerm" placeholder="What are you looking for?" id="myInput" onkeyup="searchFun()"> -->
        <input class="searchbar" type="text" onkeyup="filter()" placeholder="Search.." name="search">
        <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
    </div>



    <!--============ end logout modal=============== -->
</section>


<!-- ++++++++main-body-part++++++ -->

<button class="m-2" onclick="goBack()"  style=" font-size: 12px; padding: 2px 4px; ">&larr; Back</button>


<!-- folder all folder create here -->
<div class="container content-wrapper  " style=" margin-top: 40px; width:100%; height: 100vh; overflow: scroll; ">


    <!--  file thumbnails here -->
    <div class="container-file">
        <h5> Common Files</h5>
        <hr>
        <!-- exel colum -->
        <div class="row">
            {% for document in common_documnts %}
            <div class="col-2 col-md-3 col-xs-4 file-">

                <div href="#" class="card file-thamb " style="width: 8rem; border: 1px solid black;  ">
                    <i class="fa fa-file-excel-o" style="font-size:68px;color: brown;"></i>

                    <div class="f-name " style="  height: 30px width:200px;  overflow: scroll; font-size: 12px; padding: 5px 8px ; ">{{ document.updated_by.get_full_name }}</div>
                    <a href="{{ document.file.url }}">
                        <p class="title">{{ document.filename }} </p>
                    </a>

                    <small style="font-size: 10px;">{{ document.updated_at }}</small>

                    {% if request.user|has_group:"admin" %}
                    	<small><a href="{% url 'core:delete-common-document' document.pk %}">Delete</a></small>
                    {% endif %}
                </div>
                <br>

            </div>



            {% endfor %}


        </div>
    </div>
    
    <br>
     <!-- Pagination starts -->
        {% if common_documnts.has_other_pages %}
          <div class="pagination">
            {% if common_documnts.has_previous %}
              <a href="?page={{ common_documnts.previous_page_number }}">&laquo;</a>
            {% endif %}

            {% for i in common_documnts.paginator.page_range %}
              {% if common_documnts.number == i %}
               <a class="active"><span>{{ i }}</span></a> 
              {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
              {% endif %}
            {% endfor %}
            {% if common_documnts.has_next %}
              <a href="?page={{ common_documnts.next_page_number }}">&raquo;</a>
            
            {% endif %}
          </div>
        {% endif %}

    <!-- Pagination ends -->
    <br>





     <div class="modal" id="myModal1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upload Files</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    {% include 'core/common_document_upload_form.html' %}

                </div>

            </div>
        </div>
    </div>



    <!-- dropdown menu with click -->
    <script type="text/javascript">
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }


        // searchbar filter here start

        function filter() {
            let input = document.querySelector('.searchbar').value //<-- Changed to querySelector
            input = input.toLowerCase();
            let cards = document.querySelectorAll('.card'); //<-- Changed to querySelectorAll with '.card' selector.

            //loop over cards and compare search with title.
            cards.forEach((el) => {
                let title = el.querySelector('.title').textContent.toLowerCase();
                el.style.display = title.includes(input) ? "list-item " : "none ";
            });
        }

        function goBack() {
            window.history.back();
        }

        // end searchbar filter here
    </script>
    <!--  end dropdwon menu -->

</div>
<!-- end body-conatiner -->


{% endblock %}