{% extends 'core/base.html' %} {% block content %}
<!-- log in form -->
<!-- required bootstrap js -->
<div class="Button">

    <!-- folder list and file list here -->

    <button class="btn btn-sm btn-outline-secondary " id="btn-list"><i class="fa fa-th-list fa-lg"></i>
    </button>
    <button class="btn btn-sm btn-outline-secondary outline-none active " id="btn-grid"><i class="fa fa-th-large fa-lg"></i>
    </button>

    <!-- end foler and  file list and blcok -->
    <!-- Button to for create folder modal -->

    <button type="button" class="btn btn-outline-primary ml-5 btn1" data-toggle="modal" data-target="#myModal">

    create folder
    <a href="#">
        <i class="material-icons" style="font-size:15px">create_new_folder</i>
    </a>

   </button>
    <!-- uplaod -->
    <button type="button" class="btn btn-outline-primary ml-5 btn1" data-toggle="modal" data-target="#myModal1">upload file
  
        <a href="#">
            <i class="fa fa-upload"></i>
        </a>
      
 </button>

    <!-- uplaod -->

    <button type="button" class="btn btn-outline-primary  " data-toggle="modal" data-target="#exampleModal" id="logout">
        <!-- <i class="fa fa-fw fa-sign-out">Logout</i> -->
        Logout
        <a href="#">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
        </a>
        <a href="#">
            <img width="30" src="assets/avatar.svg" alt="" />
            <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
        </a>
    </button>



    <hr style=" border: 1px solid rgb(218, 182, 182);">


</div>
<!-- end   button of index navbar here -->

<!-- The Modal folder  -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <!-- {% include 'core/create_dir_form.html' %} -->
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                    {% include 'core/create_dir_form.html' %}
             

            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>

<!-- uplaol modal-box part -->
<div class="modal" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload Files</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                {% include 'core/document_upload_form.html' %}

            </div>

        </div>
    </div>
</div>

<!--  end upload button modal -->


<!-- logout modal  form here  -->

<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'users:logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- end modal  -->


<!--============ end logout modal=============== -->



<!-- folder all folder create here -->
<div class="container content-wrapper ">
    <h3>{{ current_path }}</h3>
    <h5>Folders</h5>
    <hr>
    <div class="folder pt-2">
        <div class="row ">
            {% for directory in child_directories %}
            <div class=" col-2 col-md-2 col-sm-4 col-xs-4">

                <a href="{%  url 'core:directory' directory.pk %}"><i class="fa fa-folder" style="font-size:48px;color:#ffcc66;    width: [object Object]px; 
                    height: [object Object]px; 
                    background: #F8F8F8; 
                    border: solid #BDBDBD 1px; 
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2)  ; 
                    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2)  ; 
                    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2)  "></i>
            <br><span>{{ directory.name }}</span></a>

            </div>
            {% endfor %}

        </div>
    </div>

</div>
<br>
<br>
<!--  file thumbnails here -->
<div class="container">
    <h5>Files</h5>
    <hr>
    <!-- exel colum -->
    <div class="row">
    	{% for document in documents %}
        <div class="col-2 col-md-3 col-xs-4 file-">
            
                <div class="card" style="width: 5rem; background: lightblue;    width: [object Object]px; 
                    height: [object Object]px; 
                    background: lightskyblue; 
                    border: solid #BDBDBD 1px; 
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2)  ; 
                    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2)  ; 
                    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2)  ">
                    <a href="#" class="file-thamb">
                    <i class="fa fa-file-excel-o" style="font-size:48px;color: white"></i>
                    <br>
                    <small style="font-size: 12px; padding-top: 4px;">{{ document.filename }}</small>
                    <a href=""></a>

                    <small style="font-size: 10px;">{{ document.updated_at }}</small>
                    <hr>
                    <small><a href="{% url 'core:delete-document' document.pk %}">Delete</a></small>
                </div>
            
        </div>


		{% endfor %}



    </div>
</div>


<!--  end  thumbnails---- -->


<!-- right click -->
<div id="context-menu">
    <a class="item">
        <i class="fa fa-download"></i> download
    </a>
    <a class="item" data-toggle="modal" data-target="#myModal">
        <i class="material-icons" style="font-size:15px">create_new_folder</i> create folder
    </a>
    <a class="item" data-toggle="modal" data-target="#myModal1">
        <i class="fa fa-upload"></i>upload
    </a>
    <a class="item">
        <i class="fa fa-trash-o"></i> Delete
    </a>
    <hr>
    <a class="item">
        <i class="fa fa-refresh"></i> Rename
    </a>
    <a class="item">
        <i class="fa fa-times"></i> Exit
    </a>
</div>


<!--  folder  and file diplay block and  list here -->

<!-- <script>
    $(document).ready(function() {
        // Grid or list selection
        $("#btn-list").on("click", function() {
            $("#main-folders").addClass("flex-column");
            $("#btn-grid").removeClass("active");
            $(this).addClass("active");
        });
        $("#btn-grid").on("click", function() {
            $("#main-folders").removeClass("flex-column");
            $("#btn-list").removeClass("active");
            $(this).addClass("active");
        });
        $("#btn-list").on("click", function() {
            $("#main-files").addClass("flex-column");
            $("#btn-grid").removeClass("active");
            $(this).addClass("active");
        });
        $("#btn-grid").on("click", function() {
            $("#main-files").removeClass("flex-column");
            $("#btn-list").removeClass("active");
            $(this).addClass("active");
        });

        // Open folder and see files
        $("button.folder-container").on("click", function() {
            $("#filesGroup").removeClass("d-none");
            $("#foldersGroup").addClass("d-none");
        });
        $("a#backToFolders").on("click", function() {
            $("#foldersGroup").removeClass("d-none");
            $("#filesGroup").addClass("d-none");
        });
    });
</script> -->
<!-- end  folder and  file display  block  and llist  -->


<script>
    // script for  on right clcik  button
    window.addEventListener("contextmenu", function(event) {
        event.preventDefault();
        var contextElement = document.getElementById("context-menu");
        contextElement.style.top = event.offsetY + "px";
        contextElement.style.left = event.offsetX + "px";
        contextElement.classList.add("active");
    });
    window.addEventListener("click", function() {
        document.getElementById("context-menu").classList.remove("active");
    });
</script>

<!-- foder file list block  js -->



<!--  end floder llist and diplay block -->

<!-- script for   draga and drop  dile here -->




{% endblock %}












<!--
	<div>
		<h1>{{ current_directory.name }}</h1>

		{% if current_directory.name != 'root' %}
			<small><a href="{% url 'core:update-directory' parent_dir_pk %}">Rename</a></small>
			<small><a href="{% url 'core:delete-directory' parent_dir_pk %}">Delete</a></small>
		{% endif %}

		<br>
		<h5>Folders</h5><br>
		{% for directory in child_directories %}
			<a href="{% url 'core:directory' directory.pk %}">{{ directory.name }} </a><br><hr>
		{% endfor %}
		<br><br>

		<h5>Files</h5>
		{% for document in documents %}
			{{ document.file.name }} <br>
			<small><a href="{% url 'core:delete-document' document.pk %}">Delete</a></small>
		{% endfor %}

		<br><br>
	  {% include 'core/create_dir_form.html' %}

	  <br><br>
	  {% include 'core/document_upload_form.html' %}

	</div>
 -->