{% extends 'core/base.html' %} {% load custom_tags %} {% block content %}
<!-- log in form -->
<!-- required bootstrap js -->


<section style="padding:8px 10px; background: #F8F8F8;; height:8vh; border-bottom: 1px solid brown; text-align: center; align-items: center; width: 100%; position: fixed; z-index: 999;">
    <div class="Button-nav ">
        <!-- drop down menu -->
        <div class="dropdown ">
            <button onclick="myFunction()" class="dropbtn  btn btn-outline-primary">{{ current_directory.name }}</button>

            <div id="myDropdown" class="dropdown-content">


                <a class="item" data-toggle="modal" data-target="#myModal1">
                    <i class="fa fa-upload">Upload Files</i>
                </a>
                {% if request.user|has_group:"admin" or request.user.is_superuser and current_directory.parent_directory != None %}
                <a class="item" data-toggle="modal" data-target="#myModal">
                    <i class="material-icons" style="font-size:15px">create_new_folder</i> Create Directory
                </a>

                <a class="item" data-toggle="modal" data-target="#updateModel">
                    <i class="fa fa-refresh"> Rename</i>
                </a>
                <a class="item" data-toggle="modal" data-target="#deleteModel">
                    <i class="fa fa-trash-o"> Delete</i>
                </a>
                <a class="item" data-toggle="modal" data-target="#accessModel">
                    <i class="fa fa-lock"> Give Access</i>
                </a>
                <a href="{% url 'core:access-list' current_directory.pk %}">
                    <i class="fa fa-list"> Access List</i>
                </a>
                {% endif %}
            </div>
        </div>

        <!-- end the dropdown -->

        <!-- Button to for create folder modal -->
        {% if request.user|has_group:"admin" or request.user.is_superuser %}
        <button type="button" class="btn btn-outline-primary  btn1" data-toggle="modal" data-target="#myModal">

         Create Directory 
       <a href="#">
        <i class="material-icons" style="font-size:15px">create_new_folder</i>
       </a>

     </button> {% endif %}
        <!-- uplaod -->
        {% if current_directory.parent_directory != None and current_directory.name != 'root' %}
        <button type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#myModal1">Upload File
  
            <a href="#">
                <i class="fa fa-upload"></i>
            </a>
          
          </button> {% endif %}
        <!--end uplaod -->


        <!-- start logout -->


        <div class="dropdown " id="profile" style="padding-right: 150px;">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ request.user.get_full_name }}   <i class="fa fa-user-secret" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{% url 'users:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </div>


        <!-- end logout here -->





        <!-- <hr class="mt-5"> -->
        <!-- <hr style=" border: 1px solid rgb(218, 182, 182);"> -->
        <!-- end   button of index navbar here -->




        <!-- The Modal folder  -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <!-- {% include 'core/create_dir_form.html' %} -->
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        {% include 'core/create_dir_form.html' %}


                    </div>

                    <!-- Modal footer -->


                </div>
            </div>
        </div>



        <div class="modal" id="updateModel">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <!-- {% include 'core/create_dir_form.html' %} -->
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        {% include 'core/update_dir_form.html' %}


                    </div>

                    <!-- Modal footer -->


                </div>
            </div>
        </div>


        <div class="modal" id="deleteModel">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <!-- {% include 'core/create_dir_form.html' %} -->
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        {% include 'core/dir_delete_confirmation.html' %}


                    </div>

                    <!-- Modal footer -->


                </div>
            </div>
        </div>
    </div>


    <!-- searchbar -->

    <div class="search">
        <!-- <input type="text" class="searchTerm" placeholder="What are you looking for?" id="myInput" onkeyup="searchFun()"> -->
        <input class="searchbar" type="text" onkeyup="filter()" placeholder="Search.." name="search">
        <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
    </div>

    <!-- end searchbar -->
    <!-- uplaol modal-box part -->
    <div class="modal" id="myModal1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upload Files</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    {% include 'core/document_upload_form.html' %}

                </div>

            </div>
        </div>
    </div>

    <!--  end upload button modal -->

    <div class="modal" id="accessModel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Select user to procide access.</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    {% include 'core/dir_access.html' %}

                </div>

            </div>
        </div>
    </div>


    <!-- logout modal  form here  -->

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'users:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal  -->


    <!--============ end logout modal=============== -->
</section>

<!-- <hr style=" border: 1px solid rgb(218, 182, 182); padding-top: 80px:"> -->

<!-- ++++++++main-body-part++++++ -->
<br><br>
<button class="mt-5" onclick="goBack()" style=" font-size: 12px; padding: 2px 4px; position: fixed;  z-index: 999;  ;">&larr; Back</button>

<!-- folder all folder create here -->
<div class="container content-wrapper  " style=" margin-top: 60px; width:100%; height: 100vh;">

    <h3>{{ current_path }}</h3>
    <h5>Folders</h5>
    <hr>
    <div class="folder pt-2" id="folder-file">
        <div class="row  " id="row">
            {% for folder in child_directories %}
            <div class="card col-2 col-md-2 col-sm-4 col-xs-4 mt-5 " id="col">

                <a href="{%  url 'core:directory' folder.pk %}"><i class="fa fa-folder" style="font-size:68px;color:#ffcc66;  "></i>
            <br><p class="title" style=" width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;">{{ folder.name }}</p></a>

            </div>
            {% endfor %}

        </div>
    </div>
    <br>
    <br>

    <style type="text/css">
        .filter_date_href {
            margin-left: 80%;
        }
        
        .filter_date_button {
            margin-bottom: 15px;
        }
    </style>
    <!--  file thumbnails here -->
    <div class="container-file">
        <h5>Files</h5>
        <br>

        <a class="filter_date_href" href="{% url 'core:filter-date' current_directory.pk %}">
            <button class="btn btn-info filter_date_button">Filter By Date</button>
            <br>
        </a>

        <!-- exel colum -->
        <div class="row">
            {% for document in documents %}
            <div class="col-2 col-md-3 col-xs-4 file-">


                <div href="#" class="card file-thamb " style="width: 8rem; border: 1px solid black;  ">
                    <i class="fa fa-file-excel-o" style="font-size:68px;color: brown;"></i>

                    <div class="f-name " style="  height: 30px width:200px;  overflow: scroll; font-size: 12px; padding: 5px 8px ; ">{{ document.updated_by.get_full_name }}</div>
                    <a href="{{ document.file.url }}">
                        <p class="title">{{ document.filename }} </p>
                    </a>

                    <small style="font-size: 10px;">{{ document.updated_at }}</small>

                    <!-- <small><a href="{% url 'core:delete-document' document.pk %}">Delete</a></small> -->
                    <!-- <a href="{% url 'core:delete-document' document.pk %}"> -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal-{{document.pk}}" style="font-size: 13px;">Delete</button>
                    <!-- </a> -->

                    <div class="modal" id="myModal-{{document.pk}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">

                                    {% include 'core/document_delete_confirmation.html' with documentpk=document.pk %}


                                </div>

                                <!-- Modal footer -->


                            </div>
                        </div>
                    </div>
                </div>
                <br>


            </div>
            {% endfor %}
        </div>




            <!-- Modal -->
           <!--  <div class="modal fade" id="myModal12" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                            <div class="modal-footer">
                                <button>
                                    <form method="post">{% csrf_token %}
                                        <p>Are you sure you want to delete this item?"</p>
                                        <input type="submit" value="Confirm">
                                    </form>

                                </button>
                                <button type="button" class="btn btn-default"> </button>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- end the delete modal -->



            







    </div>
    <br>
    <!-- Pagination starts -->
    {% if documents.has_other_pages %}
    <div class="pagination">
        {% if documents.has_previous %}
        <a href="?page={{ documents.previous_page_number }}">&laquo;</a> {% endif %} {% for i in documents.paginator.page_range %} {% if documents.number == i %}
        <a class="active"><span>{{ i }}</span></a> {% else %}
        <a href="?page={{ i }}">{{ i }}</a> {% endif %} {% endfor %} {% if documents.has_next %}
        <a href="?page={{ documents.next_page_number }}">&raquo;</a> {% endif %}
    </div>
    {% endif %}

    <!-- Pagination ends -->
    <br>

    <!--  end floder llist and diplay block -->

    <!-- script for   draga and drop  dile here -->

    <!-- dropdown menu with click -->
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }


        // searchbar filter here start

        function filter() {
            let input = document.querySelector('.searchbar').value //<-- Changed to querySelector
            input = input.toLowerCase();
            let cards = document.querySelectorAll('.card'); //<-- Changed to querySelectorAll with '.card' selector.

            //loop over cards and compare search with title.
            cards.forEach((el) => {
                let title = el.querySelector('.title').textContent.toLowerCase();
                el.style.display = title.includes(input) ? "list-item " : "none ";
            });
        }

        function goBack() {
            window.history.back();
        }

        // end searchbar filter here
    </script>
    <!--  end dropdwon menu -->

</div>
<!-- end body-conatiner -->


{% endblock %}