{% extends 'core/base.html' %} {% load custom_tags %} {% block content %}


<section style="padding:8px 10px; background: #F8F8F8;; height:8vh; width: 100%; border-bottom: 1px solid brown; text-align: center; align-items: center;  position: fixed; z-index: 999;">
    <div class="Button-nav ">
        <!-- drop down menu -->
        <div class="dropdown ">
            <button class="dropbtn  btn btn-outline-primary">Home</button>

        </div>

        <!-- end the dropdown -->

        <!-- start logout -->


        <div class="dropdown " id="profile" style="padding-right: 150px;">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ request.user.get_full_name }}   <i class="fa fa-user-secret" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{% url 'users:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </div>

        <!-- end log out -->
    </div>


    <!-- searchbar -->

    <div class="search">
        <!-- <input type="text" class="searchTerm" placeholder="What are you looking for?" id="myInput" onkeyup="searchFun()"> -->
        <input class="searchbar" type="text" onkeyup="filter()" placeholder="Search.." name="search">
        <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
    </div>


    <!--============ end logout modal=============== -->
</section>


<!-- ++++++++main-body-part++++++ -->


<!-- folder all folder create here -->
<div class="container content-wrapper  " style=" margin-top: 60px; width:100%; height: 100vh; overflow: scroll; ">

    <h3>Branches</h3>

    <hr>
    <div class="folder pt-2" id="folder-file">
        <div class="row  " id="row">
            {% for root_dir in root_dirs %}
            <div class=" col-2 col-md-2 col-sm-4 col-xs-4 mt-5" id="col">

                <a href="{%  url 'core:directory' root_dir.pk %}"><i class="fa fa-folder" style="font-size:68px;color:#ffcc66;  "></i>
            <br><span>{{ root_dir.branch }}</span></a>

            </div>
            {% endfor %}

        </div>
    </div>
    <br>
    <br>
    <!--  file thumbnails here -->
    <div class="container-file">
        <h5> Common Files</h5>
        <hr>
        <!-- exel colum -->
        <div class="row">
            {% for document in common_documnts %}
            <div class="col-2 col-md-3 col-xs-4 file-">

                <div href="#" class="card file-thamb " style="width: 8rem; border: 1px solid black;  ">
                    {% if document.filename|slice:"-4:" == ".pdf" %}
                    <i class="fa fa-file-pdf-o" style="font-size:68px;color: goldenrod;">
                    </i> {% elif document.filename|slice:"-4:" == '.doc' or document.filename|slice:"-5:" == '.docx' %}
                    <i class="fa fa-file-word-o" style="font-size:68px;color:red ;"></i> {% elif document.filename|slice:"-4:" == '.txt' %}
                    <i class="fa fa-file-text-o" style="font-size:68px;color:green;"></i> {% elif document.filename|slice:"-4:" == '.pptx' %}
                    <i class="fa fa-file-powerpoint-o" style="font-size:68px;color: rgb(42, 165, 97);"></i> {% elif document.filename|slice:"-4:" == '.jpg' %}
                    <i class="fa fa-file-image-o" style="font-size:68px;color: brown;"></i> {% elif document.filename|slice:"-4:" == '.png' %}
                    <i class="fa fa-file-image-o" style="font-size:68px;color: brown;"></i>
                    {% elif document.filename|slice:"-4:" == '.zip' %}
                    <i class="far fa-file-archive" style="font-size:68px"></i>
                    {% else %}
                    <i class="far fa-sticky-note" style="font-size:68px"></i>
                     {% endif %}

                    <div class="f-name " style="  height: 30px width:200px;  overflow: scroll; font-size: 12px; padding: 5px 8px ; ">{{ document.updated_by.get_full_name }}</div>
                    <a href="{{ document.file.url }}">
                        <p class="title">{{ document.filename }} </p>
                    </a>

                    <small style="font-size: 10px;">{{ document.updated_at }}</small> 
                </div>

            </div>



            {% endfor %}


        </div>
        <br><br> {% if common_documnts|length >= 4 %}
        <a href="{% url 'core:common-documents' %}">
            <button type="button" class="btn btn-info">View More </button>
        </a>
        {% endif %}
    </div>



    <!-- dropdown menu with click -->
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function filter() {
            let input = document.querySelector('.searchbar').value //<-- Changed to querySelector
            input = input.toLowerCase();
            let cards = document.querySelectorAll('.card'); //<-- Changed to querySelectorAll with '.card' selector.

            //loop over cards and compare search with title.
            cards.forEach((el) => {
                let title = el.querySelector('.title').textContent.toLowerCase();
                el.style.display = title.includes(input) ? "list-item " : "none ";
            });
        }


        // searchbar filter here start

        // end searchbar filter here
    </script>
    <!--  end dropdwon menu -->

</div>
<!-- end body-conatiner -->


{% endblock %}