{% extends 'core/base.html' %}

{% block content %}

      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

	<h4>Welcome to SynergyDB home page.</h4>
	<br><br>
  <h4>{{ root_dir }}</h4>
	<h5>{{ current_user }}>{{ current_user_branch }}</h5> <br>
  {% for folder in root_dir_folders %}
    <h5>{{ folder.name }}</h5>
  {% endfor %}

  {% for document in root_dir_documents %}
    <h5>{{ document.file.name }}</h5>
    <small>{{ document.updated_by }}</small>
  {% endfor %}


  <br><br>
	
  <p><a href="{% url 'users:change-password' %}">Change Password</a></p>
	<p><a href="{% url 'users:create-user' %}">Add Employee</a></p>
	<p><a href="{% url 'users:logout' %}">Logout</a></p>

{% endblock %}