{% extends 'core/base.html' %}

{% block content %}

      
	<h4>Welcome to SynergyDB home page.</h4>
	<br><br>
  <h6>{{ root_dir }}</h6>

  <h5>Directories</h5>
  {% for folder in root_dir_folders %}
    <h6>{{ folder.name }}</h6>
  {% endfor %}

  <br>
  <h5>Doccuments</h5>

  {% for document in root_dir_documents %}
    <h6>{{ document.file.name }}</h6>
  {% endfor %}


  <br><br>
  {% include 'core/create_dir_form.html' %}

  <br><br>
  {% include 'core/document_upload_form.html' %}
	
  <p><a href="{% url 'users:change-password' %}">Change Password</a></p>
	<p><a href="{% url 'users:create-user' %}">Add Employee</a></p>
	<p><a href="{% url 'users:logout' %}">Logout</a></p>

{% endblock %}