{% extends 'core/base.html' %} {% block content %} {% if user.is_authenticated %}
<p>
    <h5>You are already logged in.</h5>
</p>
{% else %}
<div class="login-container mt-5" style="text-align: center; align-items: center; width:100%; ">
    <div class="log-in-box mt-5" style="   padding: 40px 40px; text-align: center; align-items: center; width: 40%; ; margin: 0 auto;  box-shadow: 2px 2px 9px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 9px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 9px 6px rgba(0,0,0,0.75);">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" style=" padding: 2px 10px;" class="btn btn-sm btn-outline-secondary ml-5">Log In</button>
        </form>
    </div>
</div>
{% endif %} {% endblock %}