{% extends 'core/base.html' %} {% block content %}


<div class="main-container mt-5" style="text-align: center; align-items: center; width:100%; opacity: 999;">
    <div class=" jumbotron user-update" style=" margin: 0 auto;height: 80vh; width: 40%;   box-shadow: 2px 2px 9px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 9px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 9px 6px rgba(0,0,0,0.75);">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h2>Update Profile</h2>
        <form method="post" style="text-align: center; align-items: center;">
            {% csrf_token %} {% for field in form %}
            <p>
                {{ field.label_tag }}<br> {{ field }} {% if field.help_text %}<br>
                <small style="color: grey">{{ field.help_text }}</small> {% endif %} {% for error in field.errors %}<br>
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit" class=" btn btn-sm btn-outline-secondary  outline-active" style="padding: 5px 5px;">Submit</button>
        </form>
    </div>
</div>


{% endblock %}