 {% extends 'core/base.html' %}
{% load custom_tags %}
  {% block content %}

<div class="container">
    <!-- <div class="main-body"> -->

    <div class="row gutters-sm mt-5">
        <div class="col-md-4 mb-3">
            <div class="carder">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h4>{{ user.get_full_name }}</h4>
                            {% if request.user|has_group:"admin" %}
                            	<p class="text-secondary mb-1">Admin - {{ user.profile.branch }}</p>
                            {% else %}
                            	<p class="text-secondary mb-1">Employee - {{ user.profile.branch }}</p>
                            {% endif %}
                            <p class="text-muted font-size-sm">{{ user.profile.address }}</p>
                            <!-- <button class="btn btn-primary">edit profile</button> -->

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-8">
            <div class="carder mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.get_full_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Uesr ID</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.username }}
                        </div>
                    </div>
                    <hr>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.email }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Cell</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.profile.phone }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Gender</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.profile.gender }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.profile.address }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                    <div class="carder h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>folder create stautus</h6>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="carder h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i> file uplaod status</h6>

                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </div>

    {% endblock %}