{% extends 'core/base.html' %}{% block content %}
<section style="padding:8px 10px; background: #F8F8F8;; height:8vh; width: 100%; border-bottom: 1px solid brown; text-align: center; align-items: center;  position: fixed; z-index: 999;">
    <div class="Button-nav ">
        <!-- drop down menu -->
        <div class="dropdown ">
            <button class="m-2 " onclick="goBack() " style=" font-size: 12px; padding: 2px 4px; "><a href="{% url 'core:index' %} ">&larr; Back</a></button>

        </div>

        <!-- end the dropdown -->

        <!-- start logout -->


        <div class="dropdown " id="profile" style="padding-right: 150px;">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ request.user.get_full_name }}   <i class="fa fa-user-secret" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{% url 'users:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </div>

        <!-- end log out -->
    </div>


    <!-- searchbar -->

    <div class="search">

        <input class="searchbar" type="text" id="myInput" onkeyup="myFunction44()" placeholder="Search for names.." title="Type in a name">
        <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
    </div>


    <!--============ end logout modal=============== -->
</section>

    <div style="margin-left: 20%; margin-right: 20%; text-align: center">
        {% if messages %} {% for message in messages %}

        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>

        {% endfor %} {% endif %}
    </div>

<!-- table  -->

<div class="container">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">s/n</th>
                <th scope="col">Full Name</th>
                <th scope="col">Branch</th>
                <th scope="col">Username</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        	{% for user in user_list %}
	            <tr>
	                <th scope="row">{{ forloop.counter }}</th>
	                <td>{{ user.get_full_name }}</td>
	                <td>{{ user.profile.branch }}</td>
	                <td>@{{ user.username }}</td>
	                <td>
	                	<a type="button" href="{% url 'users:update-user' user.pk %}" class="btn btn-info btn-sm">Update User Info</a> &nbsp;&nbsp;
					    <a href="{% url 'users:update-profile' user.profile.pk %}">
					        <button class="btn btn-primary">Update User Profile</button>
					    </a>
					    &nbsp;&nbsp; 
					    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#userdeletemodal-{{user.pk}}" style="font-size: 13px;">Delete</button>

					    <div class="modal" id="userdeletemodal-{{user.pk}}">
				            <div class="modal-dialog">
				                <div class="modal-content">

				                    <!-- Modal Header -->
				                    <div class="modal-header">
				                    </div>

				                    <!-- Modal body -->
				                    <div class="modal-body">

				                        {% include 'users/user_delete_confirmation.html' with userpk=user.pk %}


				                    </div>

				                    <!-- Modal footer -->


				                </div>
				            </div>
				        </div>
	                </td>
	            </tr>
	            
            {% endfor %}
        </tbody>
    </table>



    <!-- end table -->

            <!-- end the delete modal -->


<script>
    function myFunction44() {
        var input44, filter44, table, tr, td, i, txtValue;
        input44 = document.getElementById("myInput");
        filter44 = input44.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter44) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
    
    
    {% endblock %}